/* line 4, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_reset.sass */
a img {
  border: none; }

/* line 2, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
h1 {
  font-size: 138.5%; }

/* line 5, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
h2 {
  font-size: 123.1%; }

/* line 8, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
h3 {
  font-size: 108%; }

/* line 11, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
h1, h2, h3 {
  margin: 1em 0; }

/* line 14, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold; }

/* line 17, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
abbr, acronym {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* line 21, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
em {
  font-style: italic; }

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
blockquote {
  margin: 1em; }

/* line 27, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
ul {
  margin: 1em;
  margin-left: 2em; }
  /* line 30, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
  ul li {
    list-style: disc outside; }

/* line 33, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
ol {
  margin: 1em;
  margin-left: 2em; }
  /* line 36, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
  ol li {
    list-style: decimal outside; }

/* line 39, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
dl {
  margin: 1em;
  margin-left: 2em; }
  /* line 42, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
  dl dd {
    margin-left: 1em; }

/* line 45, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
th {
  border: 1px solid #000;
  padding: .5em;
  font-weight: bold;
  text-align: center; }

/* line 51, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
td {
  border: 1px solid #000;
  padding: .5em; }

/* line 55, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
caption {
  margin-bottom: .5em;
  text-align: center; }

/* line 59, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_base.sass */
p, fieldset, table {
  margin-bottom: 1em; }

/* line 23, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_fonts.sass */
body {
  font-size: 13px;
  font-family: arial,helvetica,clean,sans-serif;
  line-height: 1.231;
  *font-size: small;
  *font: x-small; }

/* line 31, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_fonts.sass */
table {
  font-size: inherit;
  font: 100%; }

/* line 35, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_fonts.sass */
pre, code, kbd, samp, tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%; }

/* line 41, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
body {
  text-align: center; }

/* line 44, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
#ft {
  clear: both; }

/* line 47, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
#bd {
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  #bd {
    display: block; }

/* line 13, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
#doc {
  margin: auto;
  text-align: left;
  min-width: 750px;
  width: 57.692em;
  *width: 56.25em; }

/* line 15, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
#doc2 {
  margin: auto;
  text-align: left;
  min-width: 750px;
  width: 73.077em;
  *width: 71.25em; }

/* line 17, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
#doc3 {
  margin: auto;
  text-align: left;
  min-width: 750px;
  margin: auto 10px;
  width: auto; }

/* line 19, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
#doc4 {
  margin: auto;
  text-align: left;
  min-width: 750px;
  width: 74.923em;
  *width: 73.05em; }

/* line 21, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-t1 {
  margin: auto;
  text-align: left;
  min-width: 750px;
  width: 57.692em;
  *width: 56.25em; }
  /* line 86, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
  .yui-t1 #yui-main {
    width: 100%;
    float: right;
    margin-left: -13.077em; }
    /* line 90, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
    .yui-t1 #yui-main .yui-b {
      position: static;
      float: none;
      width: auto;
      margin-left: 12.308em;
      *margin-left: 12em; }
  /* line 93, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
  .yui-t1 .yui-b {
    position: relative;
    _position: static;
    float: left;
    width: 12.308em;
    *width: 12em; }

/* line 23, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-t2 {
  margin: auto;
  text-align: left;
  min-width: 750px;
  width: 57.692em;
  *width: 56.25em; }
  /* line 86, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
  .yui-t2 #yui-main {
    width: 100%;
    float: right;
    margin-left: -14.615em; }
    /* line 90, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
    .yui-t2 #yui-main .yui-b {
      position: static;
      float: none;
      width: auto;
      margin-left: 13.846em;
      *margin-left: 13.5em; }
  /* line 93, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
  .yui-t2 .yui-b {
    position: relative;
    _position: static;
    float: left;
    width: 13.846em;
    *width: 13.5em; }

/* line 25, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-t3 {
  margin: auto;
  text-align: left;
  min-width: 750px;
  width: 57.692em;
  *width: 56.25em; }
  /* line 86, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
  .yui-t3 #yui-main {
    width: 100%;
    float: right;
    margin-left: -23.846em; }
    /* line 90, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
    .yui-t3 #yui-main .yui-b {
      position: static;
      float: none;
      width: auto;
      margin-left: 23.077em;
      *margin-left: 22.5em; }
  /* line 93, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
  .yui-t3 .yui-b {
    position: relative;
    _position: static;
    float: left;
    width: 23.077em;
    *width: 22.5em; }

/* line 27, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-t4 {
  margin: auto;
  text-align: left;
  min-width: 750px;
  width: 57.692em;
  *width: 56.25em; }
  /* line 100, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
  .yui-t4 #yui-main {
    width: 100%;
    float: left;
    margin-right: -14.615em; }
    /* line 104, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
    .yui-t4 #yui-main .yui-b {
      position: static;
      float: none;
      width: auto;
      margin-right: 13.846em;
      *margin-right: 13.5em; }
  /* line 107, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
  .yui-t4 .yui-b {
    position: relative;
    _position: static;
    float: right;
    width: 13.846em;
    *width: 13.5em; }

/* line 29, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-t5 {
  margin: auto;
  text-align: left;
  min-width: 750px;
  width: 57.692em;
  *width: 56.25em; }
  /* line 100, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
  .yui-t5 #yui-main {
    width: 100%;
    float: left;
    margin-right: -19.231em; }
    /* line 104, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
    .yui-t5 #yui-main .yui-b {
      position: static;
      float: none;
      width: auto;
      margin-right: 18.462em;
      *margin-right: 18em; }
  /* line 107, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
  .yui-t5 .yui-b {
    position: relative;
    _position: static;
    float: right;
    width: 18.462em;
    *width: 18em; }

/* line 31, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-t6 {
  margin: auto;
  text-align: left;
  min-width: 750px;
  width: 57.692em;
  *width: 56.25em; }
  /* line 100, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
  .yui-t6 #yui-main {
    width: 100%;
    float: left;
    margin-right: -23.846em; }
    /* line 104, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
    .yui-t6 #yui-main .yui-b {
      position: static;
      float: none;
      width: auto;
      margin-right: 23.077em;
      *margin-right: 22.5em; }
  /* line 107, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
  .yui-t6 .yui-b {
    position: relative;
    _position: static;
    float: right;
    width: 23.077em;
    *width: 22.5em; }

/* line 132, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-g .yui-gb .yui-u,
.yui-gc .yui-u,
.yui-gc .yui-g,
.yui-gd .yui-u,
.yui-gb .yui-g,
.yui-gb .yui-gb,
.yui-gb .yui-gc,
.yui-gb .yui-gd,
.yui-gb .yui-ge,
.yui-gb .yui-gf,
.yui-gb .yui-u {
  float: left;
  margin-left: 2%;
  width: 32%; }

/* line 150, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-gb .yui-u,
.yui-gb .yui-gc .yui-u {
  *margin-left: 1.8%;
  _margin-left: 4%; }

/* line 154, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-g .yui-gb .yui-u {
  _margin-left: .8%; }

/* line 157, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-u {
  float: right; }

/* line 160, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb div.first {
  margin-left: 0;
  float: left; }

/* line 167, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-g .yui-gb div.first,
.yui-gb .yui-gb div.first {
  *margin-right: 0;
  *width: 32%;
  _width: 31.7%; }

/* line 172, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb {
  *margin-right: 0; }

/* line 178, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-gd .yui-u {
  *width: 66%;
  _width: 61.2%; }

/* line 182, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-gd div.first {
  *width: 31%;
  _width: 29.5%; }

/* line 189, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-g .yui-gc .yui-u,
.yui-gb .yui-gc .yui-u {
  width: 32%;
  _float: right;
  margin-right: 0;
  _margin-left: 0; }

/* line 195, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-gc div.first {
  width: 66%;
  *float: left;
  *margin-left: 0; }

/* line 203, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-ge .yui-u,
.yui-gb .yui-gf .yui-u {
  margin: 0; }

/* line 206, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-g .yui-u,
.yui-g .yui-g,
.yui-g .yui-gb,
.yui-g .yui-gc,
.yui-g .yui-gd,
.yui-g .yui-ge,
.yui-g .yui-gf,
.yui-gc .yui-u,
.yui-gd .yui-g,
.yui-g .yui-gc .yui-u,
.yui-ge .yui-u,
.yui-ge .yui-g,
.yui-gf .yui-g,
.yui-gf .yui-u {
  float: right; }

/* line 230, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-g .yui-gc div.first,
.yui-g .yui-ge div.first,
.yui-g div.first,
.yui-gc div.first,
.yui-gc div.first div.first,
.yui-gd div.first,
.yui-ge div.first,
.yui-gf div.first {
  float: left; }

/* line 240, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-g .yui-g .yui-u,
.yui-gb .yui-g .yui-u,
.yui-gc .yui-g .yui-u,
.yui-gd .yui-g .yui-u,
.yui-ge .yui-g .yui-u,
.yui-gf .yui-g .yui-u {
  width: 49%;
  *width: 48.1%;
  *margin-left: 0; }

/* line 245, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-g .yui-g div.first {
  *margin: 0; }

/* line 248, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-g div.first {
  *margin-right: 4%;
  _margin-right: 1.3%; }

/* line 252, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-gb .yui-u {
  _margin-left: .7%; }

/* line 257, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-g div.first,
.yui-gb .yui-gb div.first {
  *margin-left: 0; }

/* line 263, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gc .yui-g .yui-u,
.yui-gd .yui-g .yui-u {
  *width: 48.1%;
  *margin-left: 0; }

/* line 268, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-g .yui-u,
.yui-g .yui-g,
.yui-g .yui-gb,
.yui-g .yui-gc,
.yui-g .yui-gd,
.yui-g .yui-ge,
.yui-g .yui-gf {
  width: 49.1%; }

/* line 281, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-g .yui-gb div.first,
.yui-gb div.first,
.yui-gc div.first,
.yui-gd div.first {
  margin-left: 0; }

/* line 284, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-g .yui-gc div.first,
.yui-gc div.first,
.yui-gd .yui-g,
.yui-gd .yui-u {
  width: 66%; }

/* line 292, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gd div.first,
.yui-gb .yui-gd div.first {
  width: 32%; }

/* line 295, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-g .yui-gd div.first {
  _width: 29.9%; }

/* line 298, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-ge .yui-u,
.yui-ge .yui-g,
.yui-gf div.first {
  width: 24%; }

/* line 306, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-ge div.yui-u,
.yui-gb .yui-gf div.yui-u {
  float: right; }

/* line 312, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-ge div.first,
.yui-gb .yui-gf div.first {
  float: left; }

/* line 315, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-ge div.first,
.yui-gf .yui-g,
.yui-gf .yui-u {
  width: 74.2%; }

/* line 321, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-ge .yui-u,
.yui-gb .yui-gf div.first {
  *width: 24%;
  _width: 20%; }

/* line 327, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-ge div.first,
.yui-gb .yui-gf .yui-u {
  *width: 73.5%;
  _width: 65.5%; }

/* line 332, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-g,
.yui-gb,
.yui-gc,
.yui-gd,
.yui-ge,
.yui-gf {
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  .yui-g,
  .yui-gb,
  .yui-gc,
  .yui-gd,
  .yui-ge,
  .yui-gf {
    display: block; }

/* line 340, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/yui/stylesheets/yui/modules/_grids.sass */
.yui-gb .yui-u {
  float: left; }




/* line 20, ../../../app/stylesheets/screen.sass */
#navigation a {
  font-size: large;
  text-decoration: none; }
  /* line 4, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/links/_hover_link.sass */
  #navigation a:hover {
    text-decoration: underline; }
/* line 23, ../../../app/stylesheets/screen.sass */
#navigation ul {
  text-align: left; }
  /* line 8, ../../../../../../../usr/local/lib/ruby/gems/1.8/gems/chriseppstein-compass-0.6.15/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.sass */
  #navigation ul li {
    list-style-type: none;
    margin-left: 0px; }


/* line 31, ../../../app/stylesheets/screen.sass */
#scenario {
  display: table; }
  /* line 34, ../../../app/stylesheets/screen.sass */
  #scenario #GameName {
    text-align: left;
    font-size: large; }
  /* line 37, ../../../app/stylesheets/screen.sass */
  #scenario #GameDescription {
    text-align: left;
    font-size: medium; }
  /* line 40, ../../../app/stylesheets/screen.sass */
  #scenario #created_by {
    font-size: small;
    text-align: right; }
